<p>{{pendulum.id}}</p>
<p>{{pendulum.pub_date}}</p>

<canvas id="pendulum" width="600" height="800" style="background-color:#FFF">
</canvas>

<script>
    var canvas = document.getElementById("pendulum");
    var ctx = canvas.getContext("2d");

    /*
    using safe mod. Not vulnerable to injection attacks
    */
    var points_cart = [];
    var points_pendulum = [];
    var a = [];
    /*
    values from python object (from db) to javascript
    */
    "{% csrf_token %} {% for coord in pendulum.coordinates_set.all %}";
        points_cart.push("{{coord.coordinate_cart}}");
        points_pendulum.push("{{coord.coordinate_pendulum}}");
    "{% endfor %}"

    var canvas_points_cart = [];
    var canvas_points_pendulum_x = [];
    var canvas_points_pendulum_y = [];
    //indent from left
    from_left = 125;
    points_cart.forEach(function (point) {
        //xmax - ( (xmax-x0) * abs(point))
        canvas_points_cart.push(canvas.width - ((canvas.width - from_left) * Math.abs(point)));
    });
    //pendulum size
    pendulum_size = 120;
    //counter
    var j = 0;
    //cart size
    var cart = 25;
    //y (cart on y)
    var axis_y_size = canvas.height / 4;
    //speed (timeout) dt*1ms
    var speed = "{{pendulum.dt}}" * 1000;
    //counter
    var i = 0;

    console.log("startgetvalues");
    points_pendulum.forEach(function (point) {
        //find x axis by math formulas 
        var sin = Math.sin(point);
        var cart_axis_x = canvas_points_cart[j] + pendulum_size * sin;
        //find y axis
        var cos = Math.cos(point)
        var cart_axis_y = axis_y_size - pendulum_size * cos;

        //var n = points_pendulum.length;
        canvas_points_pendulum_x.push(cart_axis_x);
        canvas_points_pendulum_y.push(cart_axis_y);
        j++;
    });
    console.log("getvalues");
    /*
    draw pendulum by point in canvas
    */
    function draw() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.beginPath();
        ctx.lineWidth = 10;
        //cart
        ctx.moveTo(canvas_points_cart[i] - cart, axis_y_size);
        ctx.lineTo(canvas_points_cart[i] + cart, axis_y_size);
        ctx.strokeStyle = 'black';
        ctx.stroke();
        //pendulum
        ctx.beginPath();
        ctx.moveTo(canvas_points_cart[i], axis_y_size);
        ctx.lineTo(canvas_points_pendulum_x[i], canvas_points_pendulum_y[i]);
        ctx.strokeStyle = 'black';
        ctx.stroke();
        i += 1;
        if (i < points_cart.length) {
            setTimeout(draw, speed);
        }
    }
    draw();
</script>