{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'pendulums/style.css' %}" />

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<a href="/pendulums/create" class="btn btn-primary btn-lg" role="button" aria-disabled="false">Create new pendulum</a>


{% if latest_pendulums_list %}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">date</th>
            <th scope="col">dt</th>
            <th scope="col">time</th>
            <th scope="col">mass</th>
            <th scope="col">mass of pendulum</th>
            <th scope="col">torgue constant</th>
            <th scope="col">gear ratio</th>
            <th scope="col">resistance</th>
            <th scope="col">drive radius</th>
            <th scope="col">length pendulum</th>
            <th scope="col">inertia</th>
            <th scope="col">gravity</th>
            <th scope="col">voltage</th>
        </tr>
    </thead>
    <tbody>
        {% for pend in latest_pendulums_list %}
        <tr>
            <td>
                <a href="{% url 'pendulums:detail' pend.id %}">
                    {{ pend.id }}</a>
            </td>
            <td>
                <a href="{% url 'pendulums:detail' pend.id %}">
                    {{ pend.pub_date|date:"d/m/Y H:i"}}</a>
            </td>
            <td>
                <p>{{ pend.dt|floatformat:3  }}</p>
            </td>
            <td>
                <p>{{ pend.time }}</p>
            </td>
            <td>
                <p>{{ pend.mass|floatformat:3 }}</p>
            </td>
            <td>
                <p>{{ pend.mass_of_pendulum|floatformat:3 }}</p>
            </td>
            <td>
                <p>{{ pend.torgue_constant|floatformat:2 }}</p>
            </td>
            <td>
                <p>{{ pend.gear_ratio|floatformat:3 }}</p>
            </td>
            <td>
                <p>{{ pend.resistance|floatformat:2 }}</p>
            </td>
            <td>
                <p>{{ pend.drive_radius|floatformat:3 }}</p>
            </td>
            <td>
                <p>{{ pend.length_pendulum|floatformat:3 }}</p>
            </td>
            <td>
                <p>{{ pend.inertia|floatformat:4 }}</p>
            </td>
            <td>
                <p>{{ pend.gravity|floatformat:2 }}</p>
            </td>
            <td>
                <p>{{ pend.voltage|floatformat:2 }}</p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<p>No pendulums are available.</p>
{% endif %}