{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'pendulums/style.css' %}" />

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>